# NOAA Temperature Anomolies

## Read raw data from data downloaded from NOAA

In [4]:
import pandas as pd

df_temp_anomalies = pd.read_csv('../data/global_temp_anomaly.csv',comment='#')

year_range = df_temp_anomalies.Year.max() - df_temp_anomalies.Year.min()

print(f"The range of years is: {year_range}, min:{df_temp_anomalies.Year.min()}, max: {df_temp_anomalies.Year.max()}")

print('columns: \n', df_temp_anomalies.columns)
print('*' *50)
print('isnull: \n', df_temp_anomalies.isnull())
print('*' *50)
print('info: \n', df_temp_anomalies.info())
print('*' *50)
print('describe: \n',df_temp_anomalies.describe())
print('*' *50)
print('head: \n',df_temp_anomalies.head())
print('*' *50)
print('tail: \n', df_temp_anomalies.tail())
print('*' *50)
print('sample: \n', df_temp_anomalies.sample(10).sort_values(by='Year'))
print('*' *50)

The range of years is: 175, min:1850, max: 2025
columns:
 Index(['Year', 'Anomaly'], dtype='object')
**************************************************
isnull:
       Year  Anomaly
0    False    False
1    False    False
2    False    False
3    False    False
4    False    False
..     ...      ...
171  False    False
172  False    False
173  False    False
174  False    False
175  False    False

[176 rows x 2 columns]
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     176 non-null    int64
 1   Anomaly  176 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 2.9 KB
info:
 None
**************************************************
describe:
               Year     Anomaly
count   176.000000  176.000000
mean   1937.500000    0.050966
std      50.950957    0.401827
min    1850.000000   -0.530000
25%    1893.750000   -0.242500
50%    1937.500000   -0.050000
75%    1981.250000    0.262500
max    2025.000000    1.290000
**************************************************
head:
    Year  Anomaly
0  1850    -0.35
1  1851    -0.34
2  1852    -0.32
3  1853    -0.27
4  1854    -0.12
**************************************************
tail:
      Year  Anomaly
171  2021     0.80
172  2022     0.89
173  2023     0.99
174  2024     1.29
175  2025     1.22
**************************************************
sample:
      Year  Anomaly
23   1873    -0.43
66   1916    -0.20
88   1938     0.06
94   1944     0.20
105  1955    -0.20
106  1956    -0.24
111  1961     0.15
126  1976    -0.01
157  2007     0.78
159  2009     0.58
**************************************************