# Stock Ticker, Sector, Company Name

## Read raw data describing stock ticker, sector and company name

In [4]:
import pandas as pd
import io # need this to get info

df_stock_sector_company = pd.read_csv('../data/stock_sector_company.csv',encoding='utf8')

## Test if empty

In [5]:
# Test if empty
print('empty: \n', df_stock_sector_company.empty)
print('*' *50)

empty:
 False
**************************************************

## View Columns

In [6]:
# View columns 
print('columns: \n', df_stock_sector_company.columns)
print('*' *50)

columns:
 Index(['stock', 'sector', 'company'], dtype='object')
**************************************************

## View missing data

In [7]:
# View missing data
print('isnull: \n', df_stock_sector_company.isnull())
print('*' *50)

isnull:
     stock  sector  company
0   False   False    False
1   False   False    False
2   False   False    False
3   False   False    False
4   False   False    False
5   False   False    False
6   False   False    False
7   False   False    False
8   False   False    False
9   False   False    False
10  False   False    False
11  False   False    False
12  False   False    False
13  False   False    False
14  False   False    False
15  False   False    False
16  False   False    False
17  False   False    False
18  False   False    False
19  False   False    False
20  False   False    False
21  False   False    False
22  False   False    False
23  False   False    False
24  False   False    False
25  False   False    False
26  False   False    False
27  False   False    False
28  False   False    False
29  False   False    False
30  False   False    False
31  False   False    False
**************************************************

## View info

In [8]:
# View info
print('info: \n', df_stock_sector_company.info())
print('*' *50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   stock    32 non-null     object
 1   sector   32 non-null     object
 2   company  32 non-null     object
dtypes: object(3)
memory usage: 900.0+ bytes
info:
 None
**************************************************

## View describe

In [9]:
# View describe
print('describe: \n',df_stock_sector_company.describe())
print('*' *50)

describe:
        stock    sector company
count     32        32      32
unique    32         9      32
top     AABA  Consumer  Altaba
freq       1         8       1
**************************************************

## View first 5 rows of data

In [10]:
# View first 5 rows of data
print('head: \n',df_stock_sector_company.head())
print('*' *50)

head:
   stock       sector                   company
0  AABA   Financials                    Altaba
1  AAPL   Technology                Apple Inc.
2  AMZN   Technology           Amazon.com Inc.
3   AXP   Financials  American Express Company
4    BA  Industrials            Boeing Company
**************************************************

## View last 5 rows of data

In [11]:
# View last 5 rows of data
print('tail: \n', df_stock_sector_company.tail())
print('*' *50)

tail:
    stock         sector                          company
27   UNH     Healthcare  UnitedHealth Group Incorporated
28   UTX      Aerospace  United Technologies Corporation
29    VZ  Communication      Verizon Communications Inc.
30   WMT       Consumer                     Walmart Inc.
31   XOM         Energy          Exxon Mobil Corporation
**************************************************

## View sample of all rows of date sorted by stock ticker

In [16]:

# View a random sample of 10 rows of data sorted by stock ticker
number_stocks = len(df_stock_sector_company)
print('number of stocks: ',number_stocks)
print("Sample includes all data")
print('sample: \n', df_stock_sector_company.sample(number_stocks).sort_values(by='stock'))
print('*' *50)

number of stocks:  32
Sample includes all data
sample:
     stock         sector                                      company
0    AABA     Financials                                       Altaba
1    AAPL     Technology                                   Apple Inc.
2    AMZN     Technology                              Amazon.com Inc.
3     AXP     Financials                     American Express Company
4      BA    Industrials                               Boeing Company
5     CAT    Industrials                             Caterpillar Inc.
6    CSCO     Technology                           Cisco Systems Inc.
7     CVX         Energy                          Chevron Corporation
8     DIS       Consumer                          Walt Disney Company
9      GE    Industrials                     General Electric Company
10  GOOGL     Technology                                Alphabet Inc.
11     GS     Financials                     Goldman Sachs Group Inc.
12     HD       Consumer                              Home Depot Inc.
13    IBM     Technology  International Business Machines Corporation
14   INTC     Technology                            Intel Corporation
15    JNJ     Healthcare                            Johnson & Johnson
16    JPM     Financials                         JPMorgan Chase & Co.
18     KO       Consumer                            Coca-Cola Company
19    MCD       Consumer                       McDonald's Corporation
17    MDC       Consumer                     MDU Resources Group Inc.
20    MMM    Industrials                                   3M Company
21    MRK     Healthcare                             Merck & Co. Inc.
22   MSFT     Technology                        Microsoft Corporation
23    NKE       Consumer                                    Nike Inc.
24    PFE     Healthcare                                  Pfizer Inc.
25     PG       Consumer                         Procter & Gamble Co.
26    TRV      Financial                     Travelers Companies Inc.
27    UNH     Healthcare              UnitedHealth Group Incorporated
28    UTX      Aerospace              United Technologies Corporation
29     VZ  Communication                  Verizon Communications Inc.
30    WMT       Consumer                                 Walmart Inc.
31    XOM         Energy                      Exxon Mobil Corporation
**************************************************